*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pera{  
    background-image: url(../img/banner.jpg);
    width: 550px;height: 550px;margin: auto;padding: 30px;background-size: cover;padding-bottom: 30px;
    margin-bottom: 30px;
}
.pera h1{
    color:deeppink ;
}
.pera p{
    color: aliceblue;
}
.pera2{
width: 450px;height: 500px;padding: 30px;margin:auto ;
    padding-bottom: 30px;margin-bottom: 50px;background-color: darkslateblue;
}
.pera2 h1{
    color: deeppink;
}
.pera2 p{font-family: 'Oswald', sans-serif;
    color: aliceblue;
}
.pera3{
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 650px;height:450px;padding-bottom: 60px;margin-bottom: 50px;
display: inline-block;padding: 30px;
}